body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav {
    background-color: #444;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #ff1a1a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #e60000;
    transform: scale(1.05);
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
}
h2 {
    margin-top: 20px;
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    margin: 10px 0;
    text-align: center;
}
ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
ul li a:hover {
    color: #007bff;
}